@use "../../../../common/styles/sass/base";

.column {
  width: 350px;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  
  .column__heading {
    display: flex;
    gap: 16px;
    align-items: center;

    div {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: base.$blue;
    }

    span {
      font-size: 1.2em;
      color: base.$gray;
    }
  }
}