@import "../../styles/colors";

.button {
  border: none;
  padding: 8px;
  border-radius: 26px;
  font-weight: 600;
  cursor: pointer;
}

.button__primary {
  background-color: $violet;
  color: $white;
}

.button__secondary {
  background-color: $white;
  color: $violet;
}