@import "../../styles/colors";

.column {
  width: 350px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 32px;
  
  .column__heading {
    display: flex;
    gap: 16px;
    align-items: center;

    div {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $blue;
    }

    span {
      color: $gray;
    }
  }
}