$darkGraynishViolet: rgb(44, 44, 56);
$darkViolet: rgb(33, 33, 45);
$violet: rgb(100, 95, 198);
$blue: rgb(68, 202, 233);
$green: rgb(98, 224, 170);
$gray: rgb(119, 127, 141);
$darkGray: rgb(55, 55, 67);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);