@import "../../styles/colors";

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $white;

  input {
    outline: none;
    border: 1px solid $darkGray;
    border-radius: 6px;
    padding: 8px;
    background-color: transparent;
    color: white;
    
    &::placeholder {
      color: $darkGray;
    }
  }

  textarea {
    outline: none;
    border: 1px solid $darkGray;
    border-radius: 6px;
    padding: 8px;
    background-color: transparent;
    color: white;
    resize: vertical;
    
    &::placeholder {
      color: $darkGray;
    }
  }
}