@import "../styles/colors";

.container__main {
  display: flex;
  height: 100dvh;

  nav {
  width: 18%;
  display: flex;
  flex-direction: column;
  background-color: $darkGraynishViolet;
  border-right: 1px solid $darkGray;

  h1 {
    color: $white;
    margin: 32px;
    font-size: 1.4rem; 
  }

  > div {

    span {
      margin-left: 32px;
      color: $gray;
    } 

    ul {
      margin-block: 16px;

      li  {
        display: block;
        margin-right: 32px;
        padding-block: 16px;  
        padding-left: 32px;
        color: $gray;
        cursor: pointer;

        &:active {
          background-color: $violet;
          color: $white;
          border-top-right-radius: 35px;
          border-bottom-right-radius: 35px;
        }
      }
    }

    > a {
      margin-left: 32px;
      color: $violet;
      cursor: pointer;
    }

    > div {
      display: flex;
      flex-direction: column;
      padding-inline: 32px;
      gap: 8px;
    }
  }
}

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $darkViolet;

    > header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px;
      background-color: $darkGraynishViolet;
      border-bottom: 1px solid $darkGray;

      h1 {
        color: $white;
        font-size: 1.4rem;
      }
    }

    > div {
      flex: 1;
      gap: 32px;
      display: flex;
      padding: 32px;
      width: 1574px;
      overflow: auto;
     
      .column {
        min-width: 350px;
        border-radius: 6px;
        background-color: $darkGraynishViolet;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      
        span {
          color: $gray;
          font-size: 1.4rem;
        }
      }
    }
  }
}

